In [12]:
# Put all the network information in "WiGLE_Backup.db"

import sqlite3

PATH="data/WiGLE_Backup.db"
second_path='data/database_Duan.sqlite'

I3E="i3e"
NET = "network"
LOC = "location"
ROU = "route"

VEN = "vendor"

wigle_blue = "wigle_blue"
wigle_wifi= "wigle_wifi"

In [13]:
con2 = sqlite3.connect(second_path)
cur2 = con2.cursor()

query = "DELETE FROM {} WHERE type != ? and type != ? and type != ?".format(NET)
cur2.execute(query, ('W', 'B','E'))

query = "select count(*) from {}".format(NET)
print("The number of WiFi and Bluethooth data is in the new database is",cur2.execute(query).fetchone()[0])


con2.commit()
con2.close()

The number of WiFi and Bluethooth data is in the new database is 359720

In [14]:
con = sqlite3.connect(PATH)
cur = con.cursor()

#con2 = sqlite3.connect(second_path)
#cur2=con2.cursor()


cur.execute("ATTACH DATABASE '{}' AS db2".format(second_path))

In [15]:
# Select data from the second table and remap the id values
cur.execute("INSERT OR IGNORE INTO {} SELECT * FROM db2.{}".format(NET,NET))
cur.execute("INSERT OR IGNORE INTO {} SELECT * FROM db2.{}".format(LOC,LOC))
cur.execute("INSERT OR IGNORE INTO {} SELECT * FROM db2.{}".format(ROU,ROU))

# Commit the changes and close the connections
con.commit()
#con2.close()
con.close()

In [69]:
con.commit()
#con2.close()
con.close()