In [ ]:
import sqlite3

PATH="data/WiGLE_Backup.db"
net = "network"
loc = "location"

API_KEY = "at_oZ9pLFT3m66EVSyi8XPYM6rMxWYnI"
MACADDR_JSON_FILE = "data/macaddr_json"

con = sqlite3.connect(PATH)
cur=con.cursor()

query = "DELETE FROM {} WHERE type != ? and type != ?".format(net)
cur.execute(query, ('W', 'B'))

query = "select count(*) from {}".format(net)
print("The number of WiFi and Bluethooth data is",cur.execute(query).fetchone()[0])

query = "select bssid from {}".format(net)
cur.execute(query)

rts=cur.fetchall()

con.commit()
con.close()

In [ ]:
rt_str=[]
for rt in rts:
    # transfer all the rt(tuple) into string
    print(rt)
    s = ','.join(rt)
    rt_str.append(s)
    print('After transfer:',s)
con.close()

# load json data... 
with open(MACADDR_JSON_FILE,'r') as file:
    old_data = json.load(file)

json_raw_data = old_data
times = 100
for rt in rts_str:
    if rt not in old_data:
        json_raw_data[rt_str[i]]=json.loads(client.get_raw_data(rt_str[i], 'json').decode())
        times-=1
    if times==0:
        break
    
    
with open(MACADDR_JSON_FILE,'w') as outfile:
    json.dump(json_raw_data, outfile)

# Create table for macaddress

In [1]:
# test
import json
MACADDR_JSON_FILE = "data/macaddr_json"
with open(MACADDR_JSON_FILE,'r') as file:
    old_data = json.load(file)
print(old_data["00:01:95:4e:21:63"])

{'vendorDetails': {'oui': '000195', 'isPrivate': False, 'companyName': 'Sena Tech, Inc', 'companyAddress': '116-23 Shinlim-dong KOREA KR', 'countryCode': 'KR'}, 'blockDetails': {'blockFound': True, 'borderLeft': '000195000000', 'borderRight': '000195FFFFFF', 'blockSize': 16777216, 'assignmentBlockSize': 'MA-L', 'dateCreated': '2000-11-09', 'dateUpdated': '2015-09-27'}, 'macAddressDetails': {'searchTerm': '00:01:95:4e:21:63', 'isValid': True, 'virtualMachine': 'Microsoft Virtual PC / Virtual Server', 'applications': [], 'transmissionType': 'unicast', 'administrationType': 'UAA', 'wiresharkNotes': 'No details', 'comment': ''}}

In [6]:
type(old_data.keys())
#old_data[old_data.keys()[0]][old_data.keys()[0].keys()[0]]

dict_keys

In [50]:
import json
import sqlite3

PATH = "data/WiGLE_Backup.db"
net = "network"
MACADDR_JSON_FILE = "data/macaddr_json"

# Connect to SQLite database
con = sqlite3.connect(PATH)
cur=con.cursor()

# load json data... 
with open(MACADDR_JSON_FILE,'r') as file:
    old_data = json.load(file)

json_data = old_data
table_names=list(json_data["00:01:95:4e:21:63"].keys())

In [48]:
for id_key in json_data.keys():
        # Get the values for this ID and table name
        values = [json_data[id_key][table_key][col_key] for col_key in json_data[id_key][table_key].keys()]
values

['00:2c:c8:9d:58:80',
 True,
 'Not detected',
 [],
 'unicast',
 'UAA',
 'No details',
 '']

In [ ]:
cur.execute("drop table vendorDetails")
cur.execute("drop table blockDetails")
cur.execute("drop table macAddressDetails")

In [53]:
for table_key in table_names:
    # Create a new table for each table name
    cols = ', '.join(json_data["00:01:95:4e:21:63"][table_key].keys())
    print(cols)
    print(f"CREATE TABLE IF NOT EXISTS {table_key} (id TEXT, {', '.join([f'{col} TEXT NULL' for col in json_data[id_key][table_key].keys()])})")
    print()
    cur.execute(f"CREATE TABLE IF NOT EXISTS {table_key} (id TEXT, {', '.join([f'{col} TEXT NULL' for col in json_data[id_key][table_key].keys()])})")


    # Iterate through the first dimension of the JSON
    for id_key in json_data.keys():
        # Get the values for this ID and table name
        values = [json_data[id_key][table_key][col_key] for col_key in json_data[id_key][table_key].keys()]
        
        # Insert data into the table
        cur.execute(f"INSERT INTO {table_key} (id, {', '.join(json_data[id_key][table_key].keys())}) VALUES (?, {', '.join(['?' for i in range(len(values))])})", [id_key, *values])


# Commit changes and close connection
con.commit()
con.close()

oui, isPrivate, companyName, companyAddress, countryCode
CREATE TABLE IF NOT EXISTS vendorDetails (id TEXT, oui TEXT NULL, isPrivate TEXT NULL, companyName TEXT NULL, companyAddress TEXT NULL, countryCode TEXT NULL)

blockFound, borderLeft, borderRight, blockSize, assignmentBlockSize, dateCreated, dateUpdated
CREATE TABLE IF NOT EXISTS blockDetails (id TEXT, blockFound TEXT NULL, borderLeft TEXT NULL, borderRight TEXT NULL, blockSize TEXT NULL, assignmentBlockSize TEXT NULL, dateCreated TEXT NULL, dateUpdated TEXT NULL)

searchTerm, isValid, virtualMachine, applications, transmissionType, administrationType, wiresharkNotes, comment
CREATE TABLE IF NOT EXISTS macAddressDetails (id TEXT, searchTerm TEXT NULL, isValid TEXT NULL, virtualMachine TEXT NULL, applications TEXT NULL, transmissionType TEXT NULL, administrationType TEXT NULL, wiresharkNotes TEXT NULL, comment TEXT NULL)

InterfaceError: Error binding parameter 4 - probably unsupported type.

In [54]:
con.close()

In [17]:
import sqlite3

# Load the JSON data
json_data = {
    "id1": {
        "table1": {
            "col1": "val1",
            "col2": "val2"
        },
        "table2": {
            "col1": "val3",
            "col2": "val4"
        }
    },
    "id2": {
        "table1": {
            "col1": "val5",
            "col2": "val6"
        },
        "table2": {
            "col1": "val7",
            "col2": "val8"
        }
    }
}

# Open a connection to a new SQLite database
conn = sqlite3.connect('mydatabase.db')
cur = conn.cursor()

# Iterate through the second dimension of the JSON
for table_key in json_data["id1"].keys():
    # Create a new table for each table name
    cur.execute(f"CREATE TABLE IF NOT EXISTS {table_key} (id TEXT PRIMARY KEY)")

    # Iterate through the first dimension of the JSON
    for id_key in json_data.keys():
        # Get the values for this ID and table name
        values = [json_data[id_key][table_key][col_key] for col_key in json_data[id_key][table_key].keys()]
        cols = ", ".join(json_data[id_key][table_key].keys())

        # Insert data into the table
        cur.execute(f"INSERT INTO {table_key} (id, {cols}) VALUES (?, ?)", (id_key, *values))

# Commit changes to the database
conn.commit()

# Close the database connection
conn.close()

OperationalError: table table1 has no column named col1

# log

In [ ]:
import logging
import datetime

# Get the current date and time
now = datetime.datetime.now()

# Configure the logging module
logging.basicConfig(filename='Log_WiGLE', level=logging.DEBUG)

# Generate a log message
logging.info(now,':Inital successfully, with {} data'.format(len(json_raw_data)))